@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1565007066036'); /* IE9 */
  src: url('iconfont.eot?t=1565007066036#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABpAAAAKMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIEmATYCJAMICwYABCAFhG0HMRvNBRHVk0VkXxdwh9I67iI0Edw3y2XqlI+ufg3bpdhmKh34vhE8//r3/T5J7ptM7gj+ICrKHbV6d4AquJN6YSgQEmzAYQyB7pMObNdSbAAsbYt8JS0kLL426G8d2U4Mxt5ipZquShDagMvpf8MXyDyg3OYYPCZgFqYB7oVRIAEXY8PYBS7hMQRwpFGCtG7buTcWg7VKABk3euRgbC6MwbCcRQjUHDTIJjysWq2uw8bw9/KxSiwoPI3V0H1Em2E0f7vbBXrR//XzCSIgoOMeoIESwID0rk13RSOMrXFpQxbsq1bg7f7/vhXZqwlhf51VHQJAChTfk8SV3mq1AsDEk9VAk1GfCyoxae6i+wWpn7PtgHNrDh2K63vsoXTBD197DrXorAtbc1700cIHjh694rP22vHiR483UFOzi5t//akFl75O/Jmnd/w6vaJFSnaXrC2pu/cMxYzUzWlPDq1dtHf8mS2v2sRLXJsv1G0Zsojm+F69WZ1BAIGLdOfa8MZfLQaMPUlNnoZGQz8v2NN4BH6XpGef0WWWRRlVUutVVI9aqQCHA/5jfxQvx+pj780p2JyEQRFEKjSWHNLQS+DhU4MAlmZwFNPuuE80U9CICQaKWA4gRHAaijAuQBPBDdLQX8Ajjs8IECEajr4SfaFPnlBWyTgIzjD+wU45kWMTFdXeUL/DwFlZyHkhbzYGTVkXcz0m5Dm2bB/dihAQ5wgdeA5DyLBwdjhJaUSWQ1VR3ZvKKcdCIeMgOMP4BzvlRP5oUaXv31C/w8AtTTXhF/Jmp4emrHuQvTr1arqXV7aPbkUIiHOEDszDEDIs9fMcTlKaEcnlUNnDqK+6XF8bP6CItWEZlNgzNcyyiTDpogA=') format('woff2'),
  url('iconfont.woff?t=1565007066036') format('woff'),
  url('iconfont.ttf?t=1565007066036') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565007066036#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinfeng:before {
  content: "\e7aa";
}

